.gradient {
  border-radius: 294.236px;
  background: var(
    --linear-25,
    linear-gradient(
      109deg,
      rgba(68, 221, 104, 0.25) 1.88%,
      rgba(68, 221, 104, 0.25) 36.78%,
      rgba(101, 232, 152, 0.25) 102.39%
    )
  );
  filter: blur(64.1500015258789px);
}
