.Landing{
    margin: 0;
        padding: 0;
    font-family: 'Orbitron', sans-serif;
        font-optical-sizing: auto;
        color: white;
        background: url("./assets/bgimg.png")   ;
        background-position: cover;
        background-attachment:fixed;
        height: fit-content;
        background-size:10% 100%;
        
    }
    header{
    
        box-shadow:0 4px 6px rgba(159, 248, 166, 0.8);
    }
    .cards{
    opacity: 10px;
    
    }
    .star{
    width:auto;
    height: auto;
    margin: auto;
    top: 100px;
    
    }
    .imgcards{
        background: url("./assets/cards.svg");
        background-repeat: no-repeat;
       background-size: 200px 150px;
    
    }
    
    .mainstar{
    background: url("./assets/star.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 800px
    }
    
    .cards{
        border-image: linear-gradient(105.82deg, #65E898 -4.89%, #1D3326 20.02%, #000000 78.88%, #44DD67 108.39%, #44DD68 121.13%);
        border-image-slice: 1;
      border-image-repeat: stretch;
      border-width: 1px; 
    }
    .cardsgift{
        border-image: linear-gradient(105.82deg, #0b0c0b -4.89%, #1D3326 20.02%, #000000 78.88%, #44DD67 108.39%, #44DD68 121.13%);
        border-image-slice: 2;
      border-image-repeat:initial;
      border-width: 0px;
      
}

.Rightcols{
    
background: rgba(154, 153, 153, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(84, 83, 83, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}